<!doctype html>
<html>

<head>
    <!-- css -->
    <link rel="stylesheet" href="/public/main.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Todo App</title>
</head>

<body>
    <!-- 네비바 -->
    <%- include("nav.html") %>

        <h4 id="TL" class="text-center mt-2" style="cursor:pointer;">Todo List</h4>
        <!-- 검색창 -->
        <div class="container input-group mb-2">
            <input class="form-control" id="search-input">
            <button class="input-group-append btn btn-danger" id="search">검색</button>
        </div>
        <!-- 서버에서 가져온 리스트 -->
        <div class="container">
            <ul class="list-group">
                <!-- 반복문 -->
                <!-- posts.length === DB에 저장된 데이터 갯수-->
                <% for (var i=0; i < posts.length; i++){ %>
                    <li class="list-group-item" style="border: 1px solid rgb(201, 196, 196); margin-top: 10px;">
                        <!-- .제목 === -->
                        <h4 class="detail" data-id="<%= posts[i]._id %>" style="cursor:pointer;"> 할일 제목 : <%=
                                posts[i].제목 %>
                        </h4>
                        <!-- .날짜 ===  -->
                        <p> 할일 마감날짜 : <%= posts[i].날짜 %>
                        </p>
                        <!--분류를 위해서 data-id로 버튼에 DB _id 지정  -->
                        <button class="btn btn-outline-danger delete" data-id="<%= posts[i]._id %>">삭제</button>
                    </li>
                    <% } %>
            </ul>
        </div>
        <a id="MOVE_TOP_BTN" href="#">TOP</a>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


        <script>
            //삭제 버튼을 누르면 실행
            $(".delete").click(function (e) {
                // e.target: 내가 누른 요소, dataset.id: 요소의 _id값을 달라.
                var btnCode = e.target.dataset.id;
                // jquery 에서 this이벤트가 동작하는 곳  == 삭제버튼
                var select = $(this);
                // AJAX: 새로고침 없이 서버와 통신할 수 있게 하는 JS문법
                // method: 요철할 기능, url: 요청 경로, data: 요청과 함께 보낼데이터
                $.ajax({
                    method: "DELETE",
                    url: "/delete",
                    data: { _id: btnCode }
                    // 보낸요청이 성공하면 실행.    
                }).done(function (res) {
                    //AJAX 성공시 실핼
                    // .parent: 삭제버튼의 부모요소"li"를 가져온다.
                    select.parent("li").slideUp();
                }).fail(function (xhr, textStatus, errorThrown) {
                    //AJAX 실패시 실행
                    console.log(xhr, textStatus, errorThrown);
                })
            })
            $(".detail").click(function (e) {
                var listId = parseInt(e.target.dataset.id);
                console.log(typeof listId);
                $(location).attr("href", "/detail/" + listId)
            })
            $("#search").click(function () {
                // input에 유저가 입력한 값
                var inputVal = $("#search-input").val()
                //url을 변경해달라 === GET요청이랑 같음 
                //"" 안에 변수를 넣고 싶을때는 + 로 
                window.location.replace("/search?value=" + inputVal)

            })
            $("#TL").click(function () {
                $(location).attr("href", "/list")
            })
            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 500) {
                        $('#MOVE_TOP_BTN').fadeIn();
                    } else {
                        $('#MOVE_TOP_BTN').fadeOut();
                    }
                });

                $("#MOVE_TOP_BTN").click(function () {
                    $('html, body').animate({
                        scrollTop: 0
                    }, 400);
                    return false;
                });
            });



        </script>




        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
            integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
            crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
</body>

</html>